*{
    margin:0;
    padding:0;
}

#MainDiv > p{
    font-size:30px;
}

/* first homework css */
#nonScrollDiv{
    width:200px;
    overflow:hidden;
}

#scrollBlindDiv{
    height:200px;
    width:230px;
    overflow-x:hidden;
    overflow-y:scroll;
}

#scrollBlindDiv > ul{
    width:200px;
    padding:0;
}

#scrollBlindDiv > ul > li{
    height:50px;
    border:1px solid black;
    list-style:none;
}

/* second homework css */

#StyledComponents{
    display:flex;    
}

#StyledCheckBox{
    width:15px;
    height:15px;
    display:inline-block;
    background-color:rgb(199, 199, 199);
    border:1px rgb(200, 200, 200) solid;
    border-radius: 3px;
}
#StyledCheckBoxIconDiv{
    transform:translate(2px,-9px);
}
#StyledCheckBoxIcon{
    font-size:20px;
    user-select: none;
}

#StyledRadioDiv{
    margin-left:10px;
}

#StyledRadio{
    width:15px;
    height:15px;
    background-color:rgb(187, 187, 187);
    border-radius: 50%;
}

#StyledRadioIcon{
    width:10px;
    height : 10px;
    border-radius: 50%;
    background-color:black;
    transform:translate(2.5px,2.5px);
}
/* third homework*/


.dropDownItems{
    width:200px;
    height:30px;
    background-color:rgb(128, 119, 255);
    font-size:20px;
    text-align: center;
    border-radius: 1px;
}

#dropDownDiv div:nth-child(2){
    background-color:rgb(255, 125, 125);
}

#dropDownDiv div:nth-child(3){
    background-color:rgb(128, 119, 255)
}

#dropDownButton{
    background-color:rgb(216, 216, 216);
    width:200px;
    height:30px;
    font-size:20px;
    border-radius: 1px;
}
#dropDownButton > div > p{
    text-align: center;
}

#resultDiv{
    width:180px;
    display:inline-block;
}

.DropDownIcon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


/* fifth homework */

/* none */
